trigger:
- master

schedules:
- cron: '0 0 * * *'
  displayName: WMI - master branch daily build
  branches:
    include:
      - master
  always: true

jobs:
- template: .pipelines/build.yaml
- template: .pipelines/static.yaml
